html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.event_info{
    padding-top: 50px;
}
  
.banner_form{
    display: none;
    height: 50%;
    padding-top: 50px;
}

  
.items {
    flex-shrink: 0;
    display: inline-flex;
    counter-reset: item;
}
.item {
    width: 60vw;
    height: 34vh;
    counter-increment: item;
    padding-left: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
}
.item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #000;
}
  
.item:before {
    content: counter(item);
}
  
.items {
    animation: scroll 35s linear infinite;
}
.items_wrap:hover .items {
    animation-play-state: paused;
}

@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
}
  
.content{
    padding-top: 50px;
}


.to_log_btn{
    width: 100px;
    text-decoration: none;
    background-color: #8a8bca;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
}

.cancel{
    display: none;
    width: 100px;
    text-decoration: none;
    color: #979797;
    border: 1px solid #979797;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
}

.log_out_btn{
    display: none;
    width: 100px;
    text-decoration: none;
    color: #979797;
    border: 1px solid #979797;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
}

.login_form, 
.registration_form,
.recovery_form{
    display: none; 
    text-align: center;
    margin-left: 25%;
    margin-top: 25%;
    width: 500px;
    background-color: #8a8bca;
    border-radius: 10px;
    padding: 10px;
}

.data_writer{
    display: flex;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
}

.labels{
    text-align: left;
    padding-left: 10%;
}

.fields{
   padding-left: 5%;

}

#auth_log, 
#auth_pwd,
#reg_log,
#reg_pwd,
#key_code,
#log,
#code,
#pwd{
    border-radius: 8px;
    border: 1px solid #000;
    width: 100%;
    height: 25px;
    margin-bottom: 5px;
}

.lb{ 
    display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 16px;
    color: #FFF;

}

h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 37px;
    line-height: 50px;

    text-align: center;
    color: #FFF;
}

.to_reg_btn,
.to_recovery_pwd{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    color: #001ea5;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
}

.to_reg_btn:hover,
.to_recovery_pwd:hover{
    color: #000;
    font-weight: 800;
    font-size: 16px;
}

.cancel,
.log_in_btn,
.reg_btn,
.recovery_btn{
    cursor: pointer;
    width: 100px;
    height: 40px;
    background-color: #323235;
    border: none;
    color: #fff;
    padding: 2px;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}


/* event info */
.img_header{
    width: 100vw;
    height: 50%;
}

.first_part_header_event{
    color: #ff3a3a;
}
.second_part_header_event{
    color: #000;
}
.header_event{
    color: #000;
    font-family: 'Montserrat';
    font-style:normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
}

.second_header{
    background-color: #000;
    height: 50px;
    width: 50vw;
    border-radius: 20px;
    text-align: center;
    margin: auto;
}

.second_header_event{
    padding-top: 10px;
    color: #ff3a3a;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 30px;
}

.header_event_blue_theme{
    color: #236ef8;
    font-family: 'Montserrat';
    font-style:normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
}
.second_header_event_blue_theme{
    padding-top: 10px;
    color: #236ef8;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 30px;
}


.about_event{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}

.shop_btn{
    margin: 60px auto 10px 10px;
    text-align: center;
}

.shop_now{
    width: 100px;
    text-decoration: none;
    background-color: #000000;
    color: #fff;
    padding: 5px;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 20px;
}

.shop_now span{
    padding-left: 30px;
    padding-right: 30px;
}

.contacts{
    text-align: right;
    margin: 5% 0 0 0;
    
}

.contacts_header{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
}

.contact{
    list-style-type: none;
}

.contact li{
    display: inline;
}

.contact_ico{
    width: 25px;
}

  
  

/* adaptive */
@media (max-width:2000px){
    .all_forms{
        display: table;
        margin: 0 auto;
    }

    .links{
        display: table;
        margin: 0 auto;
    }

    .to_log_btn{
        margin: 0 auto;
        border-radius: 8px;
        background-color: #8a8bca;
        width: 15px;
        padding: 8px;
        font-size: 18px;
    }

    .log_out_btn{
        display: none;
        width: 15px;
        padding: 8px;
        border-radius: 8px;
        font-size: 18px;
    }
    
    .login_form, 
    .registration_form,
    .recovery_form{
        display: none; 
        margin: 20px auto 10px 10px;
        text-align: center;
        width: 100%;
        background-color: #8a8bca;
        border-radius: 10px;
        padding: 30px;
    }
    
    .data_writer{
        margin: 0 auto;
        display: flexbox;
        text-align: center;
        vertical-align: middle;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .labels{
        text-align: left;
        padding-left: 10%;
    }
    
    .fields{
       padding-left: 5%;
    
    }
    
    #auth_log, 
    #auth_pwd,
    #reg_log,
    #reg_pwd,
    #key_code,
    #log,
    #code,
    #pwd{
        border-radius: 8px;
        border: 1px solid #000;
        width: 170px;
        height: 20px;
        margin-bottom: 2,5px;
    }
    
    .lb{ 
        display: inline-block;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        margin-bottom: 12px;
        color: #FFF;
    
    }
    
    h1{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 50px;
    
        text-align: center;
        color: #FFF;
    }
    
    .to_reg_btn,
    .to_recovery_pwd{
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
        color: #001ea5;
    
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
    }
    
    .to_reg_btn:hover,
    .to_recovery_pwd:hover{
        color: #000;
        font-weight: 700;
        font-size: 15px;
    }
    
    .cancel,
    .log_in_btn,
    .reg_btn,
    .recovery_btn{
        cursor: pointer;
        width: 85px;
        height: 35px;
        background-color: #323235;
        border: none;
        color: #fff;
        padding: 4px;
        border-radius: 5px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
    }
}

@media (max-width:1400px){
    .all_forms{
        display: table;
        margin: 0 auto;
    }

    .links{
        display: table;
        margin: 0 auto;
    }

    .to_log_btn{
        margin: 0 auto;
        border-radius: 8px;
        background-color: #8a8bca;
        width: 15px;
        padding: 8px;
        font-size: 18px;
    }

    .log_out_btn{
        display: none;
        width: 15px;
        padding: 8px;
        border-radius: 8px;
        font-size: 18px;
    }
    
    .login_form, 
    .registration_form,
    .recovery_form{
        display: none; 
        margin: 20px auto 10px 10px;
        text-align: center;
        width: 100%;
        background-color: #8a8bca;
        border-radius: 10px;
        padding: 30px;
    }
    
    .data_writer{
        margin: 0 auto;
        display: flexbox;
        text-align: center;
        vertical-align: middle;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .labels{
        text-align: left;
        padding-left: 10%;
    }
    
    .fields{
       padding-left: 5%;
    
    }
    
    #auth_log, 
    #auth_pwd,
    #reg_log,
    #reg_pwd,
    #key_code,
    #log,
    #code,
    #pwd{
        border-radius: 8px;
        border: 1px solid #000;
        width: 170px;
        height: 20px;
        margin-bottom: 2,5px;
    }
    
    .lb{ 
        display: inline-block;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        margin-bottom: 12px;
        color: #FFF;
    
    }
    
    h1{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 50px;
    
        text-align: center;
        color: #FFF;
    }
    
    .to_reg_btn,
    .to_recovery_pwd{
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
        color: #001ea5;
    
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
    }
    
    .to_reg_btn:hover,
    .to_recovery_pwd:hover{
        color: #000;
        font-weight: 700;
        font-size: 15px;
    }
    
    .cancel,
    .log_in_btn,
    .reg_btn,
    .recovery_btn{
        cursor: pointer;
        width: 85px;
        height: 35px;
        background-color: #323235;
        border: none;
        color: #fff;
        padding: 4px;
        border-radius: 5px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
    }
}

@media (max-width:980px){
    .banner_form{
        display: none;
        height: 25%;
    }
    .item {
        width: 30vw;
        height: 17vh;
    }
     .second_header{
        display: none;
    }

    .second_header_event{
        display: none;
    }

    .second_header_event_blue_theme{
        display: none;
    }
    .all_forms{
        display: table;
        margin: 0 auto;
    }

    .links{
        display: table;
        margin: 0 auto;
    }

    .to_log_btn{
        margin: 0 auto;
        border-radius: 8px;
        background-color: #8a8bca;
        width: 15px;
        padding: 8px;
        font-size: 18px;
    }

    .log_out_btn{
        display: none;
        width: 15px;
        padding: 8px;
        border-radius: 8px;
        font-size: 18px;
    }
    
    .login_form, 
    .registration_form,
    .recovery_form{
        display: none; 
        margin: 20px auto 10px 10px;
        text-align: center;
        width: 100%;
        background-color: #8a8bca;
        border-radius: 10px;
        padding: 30px;
    }
    
    .data_writer{
        margin: 0 auto;
        display: flexbox;
        text-align: center;
        vertical-align: middle;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .labels{
        text-align: left;
        padding-left: 10%;
    }
    
    .fields{
       padding-left: 5%;
    
    }
    
    #auth_log, 
    #auth_pwd,
    #reg_log,
    #reg_pwd,
    #key_code,
    #log,
    #code,
    #pwd{
        border-radius: 8px;
        border: 1px solid #000;
        width: 170px;
        height: 20px;
        margin-bottom: 2,5px;
    }
    
    .lb{ 
        display: inline-block;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        margin-bottom: 12px;
        color: #FFF;
    
    }
    
    h1{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 50px;
    
        text-align: center;
        color: #FFF;
    }
    
    .to_reg_btn,
    .to_recovery_pwd{
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
        color: #001ea5;
    
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
    }
    
    .to_reg_btn:hover,
    .to_recovery_pwd:hover{
        color: #000;
        font-weight: 700;
        font-size: 15px;
    }
    
    .cancel,
    .log_in_btn,
    .reg_btn,
    .recovery_btn{
        cursor: pointer;
        width: 85px;
        height: 35px;
        background-color: #323235;
        border: none;
        color: #fff;
        padding: 4px;
        border-radius: 5px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
    }
}

@media (max-width:490px){
    .banner_form{
        display: none;
        height: 25%;
    }
    .item {
        width: 30vw;
        height: 17vh;
    }
    .second_header{
        display: none;
    }

    .second_header_event{
        display: none;
    }

    .second_header_event_blue_theme{
        display: none;
    }
    
    .all_forms{
        display: table;
        margin: 0 auto;
    }

    .links{
        display: table;
        margin: 0 auto;
    }

    .to_log_btn{
        margin: 0 auto;
        border-radius: 5px;
        background-color: #8a8bca;
        width: 10px;
        padding: 5px;
        font-size: 12px;
    }

    .log_out_btn{
        display: none;
        width: 10px;
        padding: 5px;
        border-radius: 5px;
        font-size: 8px;
    }
    
    .login_form, 
    .registration_form,
    .recovery_form{
        display: none; 
        margin: 20px auto 10px 10px;
        text-align: center;
        width: 100%;
        background-color: #8a8bca;
        border-radius: 10px;
        padding: 10px;
    }
    
    .data_writer{
        display: flex;
        text-align: center;
        vertical-align: middle;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .labels{
        text-align: left;
        padding-left: 10%;
    }
    
    .fields{
       padding-left: 5%;
    
    }
    
    #auth_log, 
    #auth_pwd,
    #reg_log,
    #reg_pwd,
    #key_code,
    #log,
    #code,
    #pwd{
        border-radius: 8px;
        border: 1px solid #000;
        width: 100px;
        height: 20px;
        margin-bottom: 2,5px;
    }
    
    .lb{ 
        display: inline-block;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        margin-bottom: 12px;
        color: #FFF;
    
    }
    
    h1{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 50px;
    
        text-align: center;
        color: #FFF;
    }
    
    .to_reg_btn,
    .to_recovery_pwd{
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
        color: #001ea5;
    
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
    }
    
    .to_reg_btn:hover,
    .to_recovery_pwd:hover{
        color: #000;
        font-weight: 700;
        font-size: 10px;
    }
    
    .cancel,
    .log_in_btn,
    .reg_btn,
    .recovery_btn{
        cursor: pointer;
        width: 80px;
        height: 30px;
        background-color: #323235;
        border: none;
        color: #fff;
        padding: 2px;
        border-radius: 5px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 10px;
        line-height: 20px;
        text-align: center;
    }

}
